<h1>Edit User</h1>

<h3>Address Later in Development</h3>
<p>first_name:string</p>
<p>last_name:string</p>
<p>email:string</p>
<p>password:string</p>
<p>name:string</p>
<p>image:string</p>
<p>uid:string</p>