<h1>Hi, <%= current_user.first_name %></h1>

<h4>License Validator</h4>
<%= form_tag(licenses_path, method: :get) do %>
    <%= text_field_tag(:query, params[:query], class: "field-tag") %>
    <%= submit_tag("Search", name: nil, class: "button") %>
<% end %>