<h1>Projects</h1>

<% if !current_user.projects.empty? %>
  <ul>
    <% current_user.projects.each do |project| %>
      <li><%= link_to(project.name, project_path(project)) %></li>
    <% end %>
  </ul>
<% else %>
  
<% end %>