<h1>Project</h1>

<h3>Address Later in Development</h3>
<p>name:string</p>
<p>type:string</p>
<p>desc:text</p>
<p>status:boolean</p>
<p>contractor_id:integer (foreign key)</p>
<p>user_id:integer (foreign key)</p>